<div class='page-header'>
    <h1>
        <tmpl_var name="list_head_txt">
    </h1>
</div>
<p>
    <tmpl_var name="list_desc_txt">
</p>

<tmpl_if name="config_error_msg">
    <div style="background: #ffdfdf; border: 1px solid #df7d7d; border-width: 1px 0; margin: 1.5em 0 1.5em 0; padding: 7px;">
        <p style="font-face:bold">{tmpl_var name='configuration_error_txt'}</p>
        <div>
            <div style="float:left;width:150px;">{tmpl_var name='config_error_tstamp'} :&nbsp;</div>
            <div style="padding-left:150px;">{tmpl_var name='config_error_msg'}</div>
        </div>
    </div>
</tmpl_if>


<div class="panel panel_client">
    {tmpl_hook name="begin_form"}
    <div class="pnl_formsarea">
        <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
            <!-- ### Server Zabbix ### -->
            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="headingServer">
                    <h4 class="panel-title">
                        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseServer"
                           aria-expanded="true" aria-controls="collapseServer">
                            Server Zabbix Connexion
                        </a>
                    </h4>
                </div>
                <div id="collapseServer" class="panel-collapse collapse in" role="tabpanel"
                     aria-labelledby="headingServer">
                    <div class="panel-body">
                        <div class="form-group">
                            <label for="zabbix_mutu" class="col-sm-3 control-label">{tmpl_var
                                name='zabbix_mutu_txt'}</label>
                            <div class="col-sm-9">
                                {tmpl_var name='zabbix_mutu'}
                                <a id="linkMutu" class="btn btn-default formbutton-default" type="button"
                                   target="_blank" href="https://zp.kwa.digital/register">
                                    Create an account on shared Zabbix Server
                                </a>
                                <script>
                                    $(document).ready(function () {
                                        if ($('#zabbix_mutu').prop("checked") == true) {
                                            $('#linkMutu').show("fast");
                                        } else {
                                            $('#linkMutu').hide("fast");
                                        }
                                        $('#zabbix_mutu').click(function () {
                                            if ($('#zabbix_mutu').prop("checked") == true) {
                                                $('#linkMutu').show("fast");
                                            } else {
                                                $('#linkMutu').hide("fast");
                                            }
                                        });
                                    });
                                </script>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="zabbix_host" class="col-sm-3 control-label">{tmpl_var
                                name='zabbix_host_txt'}</label>
                            <div class="col-sm-9">
                                <input type="text" name="zabbix_host" id="zabbix_host"
                                       value="{tmpl_var name='zabbix_host'}" class="form-control"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="zabbix_user" class="col-sm-3 control-label">{tmpl_var
                                name='zabbix_user_txt'}</label>
                            <div class="col-sm-9">
                                <input type="text" name="zabbix_user" id="zabbix_user"
                                       value="{tmpl_var name='zabbix_user'}" class="form-control"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="zabbix_pwd" class="col-sm-3 control-label">{tmpl_var
                                name='zabbix_pwd_txt'}</label>
                            <div class="col-sm-9">
                                <input type="password" name="zabbix_pwd" id="zabbix_pwd"
                                       value="{tmpl_var name='zabbix_pwd'}" class="form-control"/>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ### Constants ### -->
            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="headingConstants">
                    <h4 class="panel-title">
                        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseConstants"
                           aria-expanded="false" aria-controls="collapseConstants">
                            Constants
                        </a>
                    </h4>
                </div>
                <div id="collapseConstants" class="panel-collapse collapse" role="tabpanel"
                     aria-labelledby="headingConstants">
                    <div class="panel-body">
                        <div class="form-group">
                            <label for="isp_glue" class="col-sm-3 control-label">{tmpl_var name='isp_glue_txt'}</label>
                            <div class="col-sm-9">
                                <select name="isp_glue" id="isp_glue" class="form-control">
                                    {tmpl_var name='isp_glue'}
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="isp_keyword" class="col-sm-3 control-label">{tmpl_var
                                name='isp_keyword_txt'}</label>
                            <div class="col-sm-9">
                                <input type="text" name="isp_keyword" id="isp_keyword"
                                       value="{tmpl_var name='isp_keyword'}" class="form-control"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="httptest_keyword" class="col-sm-3 control-label">{tmpl_var
                                name='httptest_keyword_txt'}</label>
                            <div class="col-sm-9">
                                <input type="text" name="httptest_keyword" id="httptest_keyword"
                                       value="{tmpl_var name='httptest_keyword'}" class="form-control"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="step_keyword" class="col-sm-3 control-label">{tmpl_var
                                name='step_keyword_txt'}</label>
                            <div class="col-sm-9">
                                <input type="text" name="step_keyword" id="step_keyword"
                                       value="{tmpl_var name='step_keyword'}" class="form-control"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="application_keyword" class="col-sm-3 control-label">{tmpl_var
                                name='application_keyword_txt'}</label>
                            <div class="col-sm-9">
                                <input type="text" name="application_keyword" id="application_keyword"
                                       value="{tmpl_var name='application_keyword'}" class="form-control"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="trigger_keyword" class="col-sm-3 control-label">{tmpl_var
                                name='trigger_keyword_txt'}</label>
                            <div class="col-sm-9">
                                <input type="text" name="trigger_keyword" id="trigger_keyword"
                                       value="{tmpl_var name='trigger_keyword'}" class="form-control"/>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ### Limits Reseller ### -->
            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="headingLimitReseller">
                    <h4 class="panel-title">
                        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseLimitReseller"
                           aria-expanded="false" aria-controls="collapseLimitReseller">
                            Reseller limits
                        </a>
                    </h4>
                </div>
                <div id="collapseLimitReseller" class="panel-collapse collapse" role="tabpanel"
                     aria-labelledby="headingLimitReseller">
                    <div class="panel-body">
                        <div class="form-group">
                            <label for="limit_monitor" class="col-sm-3 control-label">{tmpl_var
                                name='limit_monitor_txt'}</label>
                            <div class="col-sm-9">
                                <input type="text" name="limit_monitor" id="limit_monitor"
                                       value="{tmpl_var name='limit_monitor'}" class="form-control"/>
                            </div>
                        </div>
                        <!-- ### Limits Reseller ### -->
                        <div class="form-group">
                            <label for="reseller_connexion" class="col-sm-3 control-label">{tmpl_var
                                name='reseller_connexion_txt'}</label>
                            <div class="col-sm-9">
                                {tmpl_var name='reseller_connexion'}
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="reseller_trend" class="col-sm-3 control-label">{tmpl_var
                                name='reseller_trend_txt'}</label>
                            <div class="col-sm-9">
                                {tmpl_var name='reseller_trend'}
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="reseller_event" class="col-sm-3 control-label">{tmpl_var
                                name='reseller_event_txt'}</label>
                            <div class="col-sm-9">
                                {tmpl_var name='reseller_event'}
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="reseller_smtp" class="col-sm-3 control-label">{tmpl_var
                                name='reseller_smtp_txt'}</label>
                            <div class="col-sm-9">
                                {tmpl_var name='reseller_smtp'}
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="reseller_alert" class="col-sm-3 control-label">{tmpl_var
                                name='reseller_alert_txt'}</label>
                            <div class="col-sm-9">
                                {tmpl_var name='reseller_alert'}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ### Limits Client ### -->
            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="headingLimitClient">
                    <h4 class="panel-title">
                        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseLimitClient"
                           aria-expanded="false" aria-controls="collapseLimitClient">
                            Client limits
                        </a>
                    </h4>
                </div>
                <div id="collapseLimitClient" class="panel-collapse collapse" role="tabpanel"
                     aria-labelledby="headingLimitClient">
                    <div class="panel-body">
                        <div class="form-group">
                            <label for="client_connexion" class="col-sm-3 control-label">{tmpl_var
                                name='client_connexion_txt'}</label>
                            <div class="col-sm-9">
                                {tmpl_var name='client_connexion'}
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="client_trend" class="col-sm-3 control-label">{tmpl_var
                                name='client_trend_txt'}</label>
                            <div class="col-sm-9">
                                {tmpl_var name='client_trend'}
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="client_event" class="col-sm-3 control-label">{tmpl_var
                                name='client_event_txt'}</label>
                            <div class="col-sm-9">
                                {tmpl_var name='client_event'}
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="client_smtp" class="col-sm-3 control-label">{tmpl_var
                                name='client_smtp_txt'}</label>
                            <div class="col-sm-9">
                                {tmpl_var name='client_smtp'}
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="client_alert" class="col-sm-3 control-label">{tmpl_var
                                name='client_alert_txt'}</label>
                            <div class="col-sm-9">
                                {tmpl_var name='client_alert'}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ### Limits Monitor ### -->
            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="headingLimitMonitor">
                    <h4 class="panel-title">
                        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseLimitMonitor"
                           aria-expanded="false" aria-controls="collapseLimitMonitor">
                            Default Monitor limits
                        </a>
                    </h4>
                </div>
                <div id="collapseLimitMonitor" class="panel-collapse collapse" role="tabpanel"
                     aria-labelledby="headingLimitMonitor">
                    <div class="panel-body">
                        <div class="form-group">
                            <label for="limit_check_period" class="col-sm-3 control-label">{tmpl_var
                                name='limit_check_period_txt'}</label>
                            <div class="col-sm-9">
                                <input type="text" name="limit_check_period" id="limit_check_period"
                                       value="{tmpl_var name='limit_check_period'}" class="form-control"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="limit_retries" class="col-sm-3 control-label">{tmpl_var
                                name='limit_retries_txt'}</label>
                            <div class="col-sm-9">
                                <input type="text" name="limit_retries" id="limit_retries"
                                       value="{tmpl_var name='limit_retries'}" class="form-control"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="limit_timeout" class="col-sm-3 control-label">{tmpl_var
                                name='limit_timeout_txt'}</label>
                            <div class="col-sm-9">
                                <input type="text" name="limit_timeout" id="limit_timeout"
                                       value="{tmpl_var name='limit_timeout'}" class="form-control"/>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ### Default Monitor ### -->
            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="headingDefaultMonitor">
                    <h4 class="panel-title">
                        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseDefaultMonitor"
                           aria-expanded="false" aria-controls="collapseDefaultMonitor">
                            Default Monitor Parameters
                        </a>
                    </h4>
                </div>
                <div id="collapseDefaultMonitor" class="panel-collapse collapse" role="tabpanel"
                     aria-labelledby="headingDefaultMonitor">
                    <div class="panel-body">
                        <div class="form-group">
                            <label for="default_check_period" class="col-sm-3 control-label">{tmpl_var
                                name='default_check_period_txt'}</label>
                            <div class="col-sm-9">
                                <input type="text" name="default_check_period" id="default_check_period"
                                       value="{tmpl_var name='default_check_period'}" class="form-control"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="default_retries" class="col-sm-3 control-label">{tmpl_var
                                name='default_retries_txt'}</label>
                            <div class="col-sm-9">
                                <input type="text" name="default_retries" id="default_retries"
                                       value="{tmpl_var name='default_retries'}" class="form-control"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="default_timeout" class="col-sm-3 control-label">{tmpl_var
                                name='limit_timeout_txt'}</label>
                            <div class="col-sm-9">
                                <input type="text" name="default_timeout" id="default_timeout"
                                       value="{tmpl_var name='default_timeout'}" class="form-control"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="default_status_codes" class="col-sm-3 control-label">{tmpl_var
                                name='default_status_codes_txt'}</label>
                            <div class="col-sm-9">
                                <input type="text" name="default_status_codes" id="default_status_codes"
                                       value="{tmpl_var name='default_status_codes'}" class="form-control"/>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ### Default SMTP ### -->
            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="headingDefaultSMTP">
                    <h4 class="panel-title">
                        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseDefaultSMTP"
                           aria-expanded="false" aria-controls="collapseDefaultSMTP">
                            Defautl SMTP
                        </a>
                    </h4>
                </div>
                <div id="collapseDefaultSMTP" class="panel-collapse collapse" role="tabpanel"
                     aria-labelledby="headingDefaultSMTP">
                    <div class="panel-body">
                        <div class="form-group">
                            <label for="smtp_host" class="col-sm-3 control-label">{tmpl_var
                                name='smtp_host_txt'}</label>
                            <div class="col-sm-9">
                                <input type="text" name="smtp_host" id="smtp_host"
                                       value="{tmpl_var name='smtp_host'}" class="form-control"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="smtp_port" class="col-sm-3 control-label">{tmpl_var
                                name='smtp_port_txt'}</label>
                            <div class="col-sm-9">
                                <input type="text" name="smtp_port" id="smtp_port"
                                       value="{tmpl_var name='smtp_port'}" class="form-control"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">{tmpl_var name='smtp_ssl_txt'}</label>
                            <div class="col-sm-9">
                                {tmpl_var name='smtp_ssl'}
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="smtp_user" class="col-sm-3 control-label">{tmpl_var
                                name='smtp_user_txt'}</label>
                            <div class="col-sm-9">
                                <input type="text" name="smtp_user" id="smtp_user"
                                       value="{tmpl_var name='smtp_user'}" class="form-control"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="smtp_pwd" class="col-sm-3 control-label">{tmpl_var name='smtp_pwd_txt'}</label>
                            <div class="col-sm-9">
                                <input type="password" name="smtp_pwd" id="smtp_pwd"
                                       value="{tmpl_var name='smtp_pwd'}" class="form-control"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="smtp_sender" class="col-sm-3 control-label">{tmpl_var
                                name='smtp_sender_txt'}</label>
                            <div class="col-sm-9">
                                <input type="text" name="smtp_sender" id="smtp_sender"
                                       value="{tmpl_var name='smtp_sender'}" class="form-control"/>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <input type="hidden" name="server_id" value="{tmpl_var name='server_id'}">
            <input type="hidden" name="id" value="{tmpl_var name='id'}">


        </div>
        <div class="clear">
            <br>
            <div class="right">
                <button class="btn btn-default formbutton-success" type="button"
                        value="{tmpl_var name='btn_save_txt'}"
                        data-submit-form="pageForm" data-form-action="zabbix/parameter_server_edit.php">{tmpl_var
                    name='btn_save_txt'}
                </button>
                <button class="btn btn-default formbutton-default" type="button"
                        value="{tmpl_var name='btn_cancel_txt'}"
                        data-load-content="zabbix/parameter_server_edit.php">{tmpl_var name='btn_cancel_txt'}
                </button>
            </div>
        </div>
    </div>
    {tmpl_hook name="end_form"}
</div>