<div class='page-header'>
    <h1>
        <tmpl_var name="list_head_txt">
    </h1>
</div>
<p>
    <tmpl_var name="list_desc_txt">
</p>

<tmpl_if name="config_error_msg">
    <div style="background: #ffdfdf; border: 1px solid #df7d7d; border-width: 1px 0; margin: 1.5em 0 1.5em 0; padding: 7px;">
        <p style="font-face:bold">{tmpl_var name='configuration_error_txt'}</p>
        <div>
            <div style="float:left;width:150px;">{tmpl_var name='config_error_tstamp'} :&nbsp;</div>
            <div style="padding-left:150px;">{tmpl_var name='config_error_msg'}</div>
        </div>
    </div>
</tmpl_if>


{tmpl_hook name="begin_form"}
<div class="form-group">
    <label for="server" class="col-sm-3 control-label">{tmpl_var name='server_txt'}</label>
    <div class="col-sm-9">
        <input type="text" name="server" id="server"
               value="{tmpl_var name='server'}" class="form-control"/>
    </div>
</div>
<div class="form-group">
    <label for="user" class="col-sm-3 control-label">{tmpl_var name='user_txt'}</label>
    <div class="col-sm-9">
        <input type="text" name="user" id="user"
               value="{tmpl_var name='user'}" class="form-control"/>
    </div>
</div>
<div class="form-group">
    <label for="pwd" class="col-sm-3 control-label">{tmpl_var name='pwd_txt'}</label>
    <div class="col-sm-9">
        <input type="password" name="pwd" id="pwd"
               value="{tmpl_var name='pwd'}" class="form-control"/>
    </div>
</div>
<div class="form-group">
    <label for="smtp_server" class="col-sm-3 control-label">{tmpl_var name='smtp_server_txt'}</label>
    <div class="col-sm-9">
        <input type="text" name="smtp_server" id="smtp_server"
               value="{tmpl_var name='smtp_server'}" class="form-control"/>
    </div>
</div>
<div class="form-group">
    <label for="smtp_port" class="col-sm-3 control-label">{tmpl_var name='smtp_port_txt'}</label>
    <div class="col-sm-9">
        <input type="text" name="smtp_port" id="smtp_port"
               value="{tmpl_var name='smtp_port'}" class="form-control"/>
    </div>
</div>
<div class="form-group">
    <label class="col-sm-3 control-label">{tmpl_var name='smtp_ssl_txt'}</label>
    <div class="col-sm-9">
        {tmpl_var name='smtp_ssl'}
    </div>
</div>
<div class="form-group">
    <label for="smtp_email" class="col-sm-3 control-label">{tmpl_var name='smtp_email_txt'}</label>
    <div class="col-sm-9">
        <input type="text" name="smtp_email" id="smtp_email"
               value="{tmpl_var name='smtp_email'}" class="form-control"/>
    </div>
</div>
<div class="form-group">
    <label for="smtp_user" class="col-sm-3 control-label">{tmpl_var name='smtp_user_txt'}</label>
    <div class="col-sm-9">
        <input type="text" name="smtp_user" id="smtp_user"
               value="{tmpl_var name='smtp_user'}" class="form-control"/>
    </div>
</div>
<div class="form-group">
    <label for="smtp_pwd" class="col-sm-3 control-label">{tmpl_var name='smtp_pwd_txt'}</label>
    <div class="col-sm-9">
        <input type="password" name="smtp_pwd" id="smtp_pwd"
               value="{tmpl_var name='smtp_pwd'}" class="form-control"/>
    </div>
</div>
<div class="form-group">
    <label for="isp_glue" class="col-sm-3 control-label">{tmpl_var name='isp_glue_txt'}</label>
    <div class="col-sm-9">
        <select name="isp_glue" id="isp_glue" class="form-control">
            {tmpl_var name='isp_glue'}
        </select>
    </div>
</div>
<div class="form-group">
    <label for="isp_keyword" class="col-sm-3 control-label">{tmpl_var name='isp_keyword_txt'}</label>
    <div class="col-sm-9">
        <input type="text" name="isp_keyword" id="isp_keyword"
               value="{tmpl_var name='isp_keyword'}" class="form-control"/>
    </div>
</div>
<div class="form-group">
    <label for="httptest_keyword" class="col-sm-3 control-label">{tmpl_var name='httptest_keyword_txt'}</label>
    <div class="col-sm-9">
        <input type="text" name="httptest_keyword" id="httptest_keyword"
               value="{tmpl_var name='httptest_keyword'}" class="form-control"/>
    </div>
</div>
<div class="form-group">
    <label for="step_keyword" class="col-sm-3 control-label">{tmpl_var name='step_keyword_txt'}</label>
    <div class="col-sm-9">
        <input type="text" name="step_keyword" id="step_keyword"
               value="{tmpl_var name='step_keyword'}" class="form-control"/>
    </div>
</div>
<div class="form-group">
    <label for="trigger_keyword" class="col-sm-3 control-label">{tmpl_var name='trigger_keyword_txt'}</label>
    <div class="col-sm-9">
        <input type="text" name="trigger_keyword" id="trigger_keyword"
               value="{tmpl_var name='trigger_keyword'}" class="form-control"/>
    </div>
</div>
<div class="form-group">
    <label for="limit_monitor" class="col-sm-3 control-label">{tmpl_var name='limit_monitor_txt'}</label>
    <div class="col-sm-9">
        <input type="text" name="limit_monitor" id="limit_monitor"
               value="{tmpl_var name='limit_monitor'}" class="form-control"/>
    </div>
</div>
<div class="form-group">
    <label for="limit_reseler" class="col-sm-3 control-label">{tmpl_var name='limit_reseler_txt'}</label>
    <div class="col-sm-9">
        {tmpl_var name='limit_reseler'}
    </div>
</div>
<div class="form-group">
    <label for="limit_user" class="col-sm-3 control-label">{tmpl_var name='limit_user_txt'}</label>
    <div class="col-sm-9">
        {tmpl_var name='limit_user'}
    </div>
</div>
<div class="form-group">
    <label for="limit_def_check_period" class="col-sm-3 control-label">{tmpl_var name='limit_def_check_period_txt'}</label>
    <div class="col-sm-9">
        <input type="text" name="limit_def_check_period" id="limit_def_check_period"
               value="{tmpl_var name='limit_def_check_period'}" class="form-control"/>
    </div>
</div>
<div class="form-group">
    <label for="limit_min_check_period" class="col-sm-3 control-label">{tmpl_var name='limit_min_check_period_txt'}</label>
    <div class="col-sm-9">
        <input type="text" name="limit_min_check_period" id="limit_min_check_period"
               value="{tmpl_var name='limit_min_check_period'}" class="form-control"/>
    </div>
</div>
<div class="form-group">
    <label for="limit_def_retries" class="col-sm-3 control-label">{tmpl_var name='limit_def_retries_txt'}</label>
    <div class="col-sm-9">
        <input type="text" name="limit_def_retries" id="limit_def_retries"
               value="{tmpl_var name='limit_def_retries'}" class="form-control"/>
    </div>
</div>
<div class="form-group">
    <label for="limit_max_retries" class="col-sm-3 control-label">{tmpl_var name='limit_max_retries_txt'}</label>
    <div class="col-sm-9">
        <input type="text" name="limit_max_retries" id="limit_max_retries"
               value="{tmpl_var name='limit_max_retries'}" class="form-control"/>
    </div>
</div>
<div class="form-group">
    <label for="limit_def_timeout" class="col-sm-3 control-label">{tmpl_var name='limit_def_timeout_txt'}</label>
    <div class="col-sm-9">
        <input type="text" name="limit_def_timeout" id="limit_def_timeout"
               value="{tmpl_var name='limit_def_timeout'}" class="form-control"/>
    </div>
</div>
<div class="form-group">
    <label for="limit_max_timeout" class="col-sm-3 control-label">{tmpl_var name='limit_max_timeout_txt'}</label>
    <div class="col-sm-9">
        <input type="text" name="limit_max_timeout" id="limit_max_timeout"
               value="{tmpl_var name='limit_max_timeout'}" class="form-control"/>
    </div>
</div>
<div class="form-group">
    <label for="limit_def_status_codes" class="col-sm-3 control-label">{tmpl_var name='limit_def_status_codes_txt'}</label>
    <div class="col-sm-9">
        <input type="text" name="limit_def_status_codes" id="limit_def_status_codes"
               value="{tmpl_var name='limit_def_status_codes'}" class="form-control"/>
    </div>
</div>
{tmpl_hook name="end_form"}
<input type="hidden" name="id" value="{tmpl_var name='id'}">

<div class="clear"><div class="right">
    <button class="btn btn-default formbutton-success" type="button" value="{tmpl_var name='btn_save_txt'}" data-submit-form="pageForm" data-form-action="zabbix/parameters_admin_edit.php">{tmpl_var name='btn_save_txt'}</button>
    <button class="btn btn-default formbutton-default" type="button" value="{tmpl_var name='btn_cancel_txt'}" data-load-content="zabbix/parameters_admin_edit.php">{tmpl_var name='btn_cancel_txt'}</button>
</div></div>